body
{
    font-family: 'Press Start 2P', cursive;
    color:#fff;
    background-color:#000;
}

.center {
    position: absolute;
    overflow: hidden;
    width:518px;
    height:418px;
}

#holder {
    margin-left: 25%;
    margin-top: 10%;
}

.main_menu {
    background-color:#000;
    width: 100%;
    height: 100%;
    z-index: 10;
    width: 518px;
    height: 418px;
    display: none;
}

#results tbody tr td {
    padding-right: 10px;
}

#menu {
    margin-left: 160px;
    padding-top: 290px;
}

#selector_container {
    width: 32px;
    height: 40px;
    float:left;
    margin-right: 8px;
}

.selector {
    width:32px;
    height:32px;
}

.menu_item {
    display:block;
    margin-bottom: 8px;
    margin-top: 8px;
}

#screen {
    border-style:solid;
    border-width:1px;
    border-color:#808080;
    float: left;
}

.levelselect_rect {
    background-color: #808080;
    width: 100%;
    height: 208px;
    position: absolute;
}

#levelselect_stage {
    display: none;
    color: #000;
    position: absolute;
    z-index: 20;
    top: 200px;
    left: 200px;
}

span {
    font-style: italic
}

#content {
    float: left;
    width: 100px; 
    height:418px; 
    background-color:#808080;
    color:#000;
}

#wrapper {
    width: 50px; 
    margin-left:20px; 
    margin-top: 50px
}

.image_life {
    float:left;
    width: 14px; 
    height: 16px
}

.life_count {
    display:block;
    margin-top: 1px; 
    margin-left: 1px;
}

#enemy_tanks {
    width: 30px; 
    height: 100px; 
}

.image_enemy {
    width: 14px;
    height:14px;
    float: left;
    margin-bottom: 1px;
    margin-left: 1px;
}
